/*  цвет основного текста #757575
    вторичный цвет (заголовки) #212121
    цвет акцента #2196f3
    белый цвет #FFFFFF*/
body {
  --text-primary-color: #757575;
  --h-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.unmark {
  list-style: none;
}
/* accent hover */
.header-nav .link:hover,
.header-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
h2,
h3 {
  color: var(--h-color);
}
/* header */
.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.header-nav .link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
}
.logo .accent,
.header-nav .currant {
  color: var(--accent-color);
}
.contacts .link {
  text-decoration: none;
  color: var(--text-primary-color);
}
/* section Hero */
section.hero {
  background-color: var(--bg-footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.hero-button {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}
/* section Features */
.feature-list-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* section Work */
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* section Team */
.section.team {
  background-color: var(--bg-secondary-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-name {
  font-weight: 500;
  color: var(--h-color);
}
.team-proffesion {
  font-weight: 400;
}
/* footer */
footer {
  background-color: var(--bg-footer-color);
}
.logo-white {
  color: #ffffff;
}
.address.link {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contacts.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
