/*  цвет основного текста #757575
    вторичный цвет (заголовки) #212121
    цвет акцента #2196f3 */
body {
  --logo-primary-color: #000000;
  --logo-secondaty-color: #ffffff;
  --text-primary-color: #757575;
  --title-color: #212121;
  --hero-text-color: #ffffff;
  --accent-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
  --bg-footer-color: #2f303a;
  --btn-bg-color: #f5f4fa;
  --btn-text-color: #212121;
  --addr-secondary-color: rgba(
    255,
    255,
    255,
    0.6
  );
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
}
/* ------------------utilitary CSS--------------------- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.title {
  color: var(--title-color);
  font-size: 36px;
  text-align: center;
  line-height: 1.16px;
  text-align: center;
  letter-spacing: 0.03em;
}
.subtitle {
  color: var(--title-color);
  font-weight: 700;
}
.link.currant[href] {
  color: var(--accent-color);
}
.btn {
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-heigt: 1.62;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* --------------- header ------------------ */
.logo {
  color: var(--logo-primary-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo .accent {
  color: var(--accent-color);
}
.header-nav .link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* page -------------------------------INDEX-------------------------- */
/* ----------------------------section Hero */
.section.hero {
  background-color: var(--bg-footer-color);
}
.hero.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}
.hero-btn {
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
}
/* -----------------------------section Features */

.feature-item.subtitle {
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ------------------------------section Team */
.section.team {
  background-color: var(--bg-secondary-color);
}

.team-item.subtitle {
  font-weight: 500;
}
.proffesion {
  font-weight: 400;
}
/* page --PORTFOLIO-- */
/* section PORTFOLIO */
.btn.currant {
  background-color: var(--accent-color);
}
.btn:hover {
  background-color: var(--accent-color);
}
/* ------------------------------ footer */
.footer {
  background-color: var(--bg-footer-color);
}
.logo-second-color {
  color: var(--logo-secondaty-color);
}
.address-item {
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--logo-secondaty-color);
}
.address-item[href^='mail'],
.address-item[href^='tel'] {
  color: var(--addr-secondary-color);
}
